In [1]:
%load_ext sql

In [2]:
%sql sqlite://

In [10]:
%%sql
CREATE TABLE DICKSS(NAME VARCHAR(50), ROLLNO INT PRIMARY KEY);
INSERT INTO DICKSS VALUES("JADEN SMITH", 11900);
INSERT INTO DICKSS VALUES("ALICE ROBERTS", 73800);

 * sqlite://
Done.
1 rows affected.
1 rows affected.

[]

In [11]:
# Querying Student Table
%sql SELECT * FROM DICKSS;

 * sqlite://
Done.

[('JADEN SMITH', 11900), ('ALICE ROBERTS', 73800)]

In [ ]:
# Working with existing database:
# Specify the path
%sql sqlite://home/blablablablalalbalbbl/SQL_TABLE.sql